:root{
    --header-color: #434343;
    --title-line-backgound-color:#EE4967;
    --red-text-color:rgba(238, 73, 103, 1);;
    --font-of-main-title: 40px;
    --white-color: #FFFFFF;
    --font-14: 14px;
    --font-20: 20px;
    --font-18: 18px;
    --font-28: 28px;
    --font-24: 24px;
    --font-13: 13px;
    --font-16: 16px;
    --service-box-background-color: #FFFFFF;
    --height-services1: 619px;
    --section-background:mintcream;
    --color-black: #000000;
    
    
}
.logo{
    margin-right: 369px;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: center;
}
.head-section{
    height: 766px;
    background-color: var(--section-background);
    margin: 0 auto;
   
}
header nav ul{
    display: flex;
    align-items: center;
    padding-top: 27px;
    padding-left: 68px;

}
header nav ul li a{
    font-size: 14px;
    text-decoration: none;
    color: var(--header-color);
}
.first-header-title{
    margin-right: 56px;
}
.second-header-title{
    margin-right: 49px;
}
.third-header-title{
    margin-right: 47px;
}
.fourth-header-title{
    margin-right: 136px;
}
.search-icon{
    margin-right: 41px;
}

.button1{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 306px;
    height: 44px;
    background-color: var(--title-line-backgound-color);
    font-size: 14px;
    padding-left: 74px;
    border-radius: 6px;
    outline: none;
    border: var(--title-line-backgound-color);
    cursor: pointer;
}
.button2{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 306px;
    height: 44px;
    background-color: var(--title-line-backgound-color);
    font-size: 14px;
    padding-left: 44px;
    border-radius: 6px;
    outline: none;
    border: var(--title-line-backgound-color);
    cursor: pointer;
}
.button1 a{
    color: var(--white-color);
    font-size: var(--font-14);
    text-decoration: none;

}
.button2 a{
    color: var(--white-color);
    font-size: var(--font-14);
    text-decoration: none;

}
.buttons{
    display: flex;
    gap: 190px;
    justify-content: center;
    padding-top: 109px;
}

.main-title{
    font-size: var(--font-of-main-title);
    color: var(--header-color);
    display: flex;
    justify-content: center;
    padding-top: 79px;
}
.chat-bubble{
    padding-top: 292px;
    display: flex;
    justify-content: end;
    margin-right: 58px;
}

.pink-line{
    height: 70px;
    background: rgb(255,219,219);
    display: flex;
    justify-content: center;
    align-items: center;

}
h4{
    font-size: var(--font-20);
    color: var(--header-color);
}
header nav .burger{
    cursor: pointer;
}
header nav .burger > div{
    width: 32px;
    height: 4px;
    background-color: var(--title-line-backgound-color);
    margin: 0.5rem 0;

}
.burger{
    padding-left: 20px;
    display: none;
}
.red-text{
    color: var(--title-line-backgound-color);
}
.services1{
 height: var(--height-services1);
 background-color:var(--section-background)
}
.services1-text{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    

}

.service-box{
    width: 312px;
    height: 230px;
    background-color: var(--service-box-background-color);
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    

}
.icon-circle-wrapper{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    box-shadow: 0px 3px 6px #00000029;
    position: relative;
    bottom: 50px;
}
.icon-circle-inner-wrapper{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #EE4967;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.name-of-service_box{
    display: flex;
    justify-content: center;
}

.service-button{
    width: 115px;
    height: 31px;
    background-color: var(--title-line-backgound-color);
    border: none;
    border-radius: 6px;
    color: var(--service-box-background-color);
    
}
.service-button-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 42px;
    
    
}
.service-items{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 83px;
}
.arrow-left{
    align-self: center;
}
.arrow-right{
    align-self: center;
}
.services2{
    height: var(--height-services1);
    background-color:var(--section-background)
}
.user-recomendations{
    height: 394px;
    background-color:var(--section-background)

}
.image-wrapper-recomondations{
    width: 80px;
    height: 80px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EE4967 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 6px;
    opacity: 1;
   
    
}
.recomondation-images{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 55px;
}
.recomendation{
    width: 213;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.recomendation h5{
    font-size: var(--font-18);
    color: var(--header-color);
}

.user-reviews{
    background-color: var(--section-background);
    height: 534px;
   
}
.user-review-card{
    width: 392px;
    height: 267px;
    background-color: var(--service-box-background-color);
    box-shadow: 1px 1px 6px #00000029;
    border-radius: 6px;
    opacity: 1;
}
.user-review-cards{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 28px;
}
.review-card-commas{
    display: flex;
    justify-content: center;
    padding-top: 21px;
}
.review-paragraph1{
    width: 358px;
    text-align: center;
    
}
.review-paragraph2{
    width: 336px;
    text-align: center;
    
}
.review-paragraph3{
    width: 254px;
    text-align: center;
    
}
.review-paragraph-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 31px;
}
.reviewer-rating-and-profile{
    padding-top: 37px;
    padding-left: 25px;
    display: flex;
    
}
.name-and-stars{
    padding-top: 5px;
    padding-left: 28.28px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}
.stars{
    width: 104.39px;
    display: flex;
    justify-content: space-between;
}
.stars img{
    width: 17.4px;
    height: 15.75px;
}
footer{
    background-color: var(--title-line-backgound-color);
    height: 400px;
    padding-top: 77px;
    padding-left: 70px;
}
input{
    width: 208px;
    height: 40px;
    background-color: var(--white-color);
    border: none;
    border-radius: 6px;
    
}
input {
    border: none;
    outline: none;
}
.footer-button{
    border: none;
    background-color: none;
    position: relative;
    right: 30px;
    top: 5px;
    background-color: var(--white-color);
}

form{
    padding-top: 20px;
}
.recomendation-text-footer{
    color: var(--white-color);
}

.social-medias-footer{
    width: 126.38px;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.logo-footer{
    padding-top: 69px;
}
.blocks{
    display: flex;
    gap: 40px;
}
.block{
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    font-size: var(--font-14);
    gap: 10px;
}
.footer-parts{
    display: flex;
    gap: 300px;
    display: flex;
    justify-content: center;

}
.text-footer{
    display: flex;
    align-items: right;
    flex-direction: column;
    
}
.first-span{
    padding-bottom: 15px;
}
.download-links{
    display: flex;
    gap: 27px;
    
}

.working-hours{
    padding-top: 33px;
}
.download-and-text{
    display: flex;
    flex-direction: column;
}
.copy-right{
   padding-left: 90px;
   padding-top: 13px;
   color: var(--white-color);
}
.title-contact{
    display: flex;
    justify-content: center;
    padding-top: 123px;
    font-size: var(--font-20);
}
.paragraph-contact{
    display: flex;
    justify-content: center;
    padding-top: 22px;
}
.contact-form{
    width: 1223px;
    height: 613px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    
    
}
.contact-form-wrapper{
    padding-top: 81px;
    display: flex;
    justify-content: center;
    padding-bottom: 111px;

}
.contact-information{
    width: 436px;
    height: 587px;
    background: #EE4967 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
   
}
.contact-information-wrapper{
    padding-top: 13px;
    padding-left: 13px;

}
.contact-information-title{
    font-size: var(--font-24);
    color: var(--white-color);
    padding-top: 82px;
    padding-left: 41px;
}
.contact-information-paragraph{
    width: 376px;
    padding-left: 41px;
    padding-top: 38px;
    color: var(--white-color);
}
.phone-number-section{
    display: flex;
    gap: 34px;
    padding-top: 87px;
    padding-left: 48px;
}
.phone-number{
    align-self: center;
    color: var(--white-color);
    font-size: var(--font-18);
    text-decoration: none;
}
.mail{
    align-self: center;
    color: var(--white-color);
    font-size: var(--font-18);
}
.location{
    align-self: center;
    color: var(--white-color);
    font-size: var(--font-18);
    text-decoration: none;
}
.location-section{
    display: flex;
    gap: 34px;
    padding-left: 48px;
}
.mail-section{
    display: flex;
    gap: 34px;
    padding-left: 48px;
}
.contact-sections{
    display: flex;
    flex-direction: column;
    gap: 56px;
}



.form-name{
    display: flex;
    flex-direction: column;
}
.form-surname{
    display: flex;
    flex-direction: column;
}
.form-email{
    display: flex;
    flex-direction: column;
}
.form-phone{
    display: flex;
    flex-direction: column;
}
.row1{
    display: flex;
    gap: 62px;
}
.row2{
    display: flex;
    gap: 62px;
}
.all-rows{
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-left: 45px;
}
.form-name  input{
    width: 319px;
    height: 61px;
    border-bottom: 1px solid #F4A2B1;
    border-radius: 0px;
}
.form-surname input{
    width: 319px;
    height: 61px;
    border-bottom: 1px solid #F4A2B1;
    border-radius: 0px;

}
.form-email input{
    width: 319px;
    height: 61px;
    border-bottom: 1px solid #F4A2B1;
    border-radius: 0px;
}
    
.form-phone input{
    width: 319px;
    height: 61px;
    border-bottom: 1px solid #F4A2B1;
    border-radius: 0px;
}
textarea{
   
    width: 684px;
    height: 146px;
    border: 1px solid #F4A2B1;
    border-radius: 6px;
    opacity: 1;
    padding-top: 14px;
    padding-left: 18px;
    font-size: var(--font-14);
    outline: none;
    
}
.two-rows{
    display: flex;
    flex-direction: column;
    gap: 103px;
}
label{
    margin-bottom: 5px;
    color: #434343;
    font-size: var(--font-14);
}
::placeholder{
    color: var(--header-color);
    font-size: var(--font-16);
    

}
.main-text-insurance{
    padding-top: 150px;
    padding-left: 71px;
}

.head-phrase1{
    font-size: var(--font-28);
    color: var(--color-black);
    width: 359px;
    height: 116px;

}
.head-phrase2{
    font-size: var(--font-20);
    color: var(--color-black);
    width: 371px;
    
}
.insurance-button-head1{
    width: 145px;
    height: 40px;
    background: #EE4967 0% 0% no-repeat padding-box;
    border: 1px solid #EE4967;
    border-radius: 6px;
    opacity: 1;
    color: var(--white-color);
    cursor: pointer;
}
.insurance-button-head2{
    width: 287px;
    height: 40px;
    background: #EE4967 0% 0% no-repeat padding-box;
    border: 1px solid #EE4967;
    border-radius: 6px;
    opacity: 1;
    color: var(--white-color);
    cursor: pointer;
}
.head-buttons-insurance{
    padding-top: 83px;
    display: flex;
    gap: 24px;
}
.insurance-image-head-wrapper{
    width: 786px;
    height: 557px;
    background-color: rgb(255,219,219);
    display: flex;
    align-items: center;
    justify-content: end;
}
.head-section-content{
    display: flex;
    justify-content: center;
    gap: 53px;

}
.head-insurance{
    height: 766px;
}
.insurance-types{
    height: 757px;
}
.insurance-type-card1{
    width: 392px;
height: 595px;
/* UI Properties */
background: var(--white-color) 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
border-radius: 6px;
opacity: 1;
}
.insurance-type-card-title{
    color: var(--title-line-backgound-color);
    font-size: var(--font-18);
    display: flex;
    justify-content: center;
    padding-top: 28px;
}
.insurance-type-card-content{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.insurance-type-card-paragraph{
    display: flex;
    justify-content: center;
    padding-top: 47px;
}
.insurance-type-card-paragraph p{
    width: 330px;
    text-align: center;
}
.insurance-type-card-button{
    width: 149px;
    height: 40px;
    background: var(--title-line-backgound-color) 0% 0% no-repeat padding-box;
    border: 1px solid var(--title-line-backgound-color);
    border-radius: 6px;
    opacity: 1;
    color: var(--white-color);
    cursor: pointer;
}
.insurance-type-button-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 47px;
}
.insurance-type-cards{
    display: flex;
    justify-content: space-around;
    padding-top: 49px;
    
}
.insurance-type-button-wrapper-card2{
    display: flex;
    justify-content: center;
    padding-top: 69px;
}
.insurance-programmes{
    height: 866px;
}
.insurance-programme-card{
    width: 370px;
    height: 415px;
    background-color: var(--title-line-backgound-color);
    border-radius: 6px;
}
.insurance-programme-card-title{
    color: var(--white-color);
    padding-top: 12px;
    display: flex;
    justify-content: center;
}
.insurance-proramme-card-icon-under-title{
    display: flex;
    justify-content: center;
    padding-top: 13px;
}
.insurance-all-items{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 72px;
}
.insurance-programme-services{
    width: 310px;
    height: 240px;
    background: var(--white-color) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.insurance-programme-services-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 15.6px;
}
.insurance-programme-card-offer span{
    font-size: var(--font-13);
    color: var(--header-color);
}
.insurance-programme-card-offer{
    width: 192px;
    display: flex;
    justify-content: space-between;
}
.insurance-arrow-left{
    align-self: center;
}
.insurance-arrow-right{
    align-self: center;
}
.insurance-prices{
    color: var(--white-color);
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    font-size: var(--font-13);
    padding-top: 17px;
}
.insurance-price{
    width: 340px;
    display: flex;
    justify-content: space-between;
    padding-left: 29px;
}
.create-programme-title{
    font-size: var(--font-20);
    color: var(--header-color);
    padding-top: 131px;
    display: flex;
    justify-content: center;
}
.create-programme-button{
    width: 179px;
    height: 40px;
    background: var(--title-line-backgound-color) 0% 0% no-repeat padding-box;
    border: 1px solid var(--title-line-backgound-color);
    border-radius: 6px;
    color: var(--white-color);
    cursor: pointer;
}
.create-programme-button-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 43px;
}
.service-button a{
    color: var(--white-color);
    text-decoration: none;
}
.form-button{
    width: 179px;
height: 40px;

background: var(--title-line-backgound-color) 0% 0% no-repeat padding-box;
border: 1px solid var(--title-line-backgound-color);
border-radius: 6px;
opacity: 1;
color: var(--white-color);
}
.form-button-wrapper{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 30px;
}
@media (max-width:1360px) {
    .footer-parts{
        gap: 0px;
    }
    
}   
@media (max-width: 1200px){
    #block-hidden{
        display: none;
    }
    .head-insurance{
        height: 600px;
    }
   
    .download-and-text{
        display: none;
    }
    .contact-information{
        width: 400px;
    }
    #service2-box3{
        display: none;
    }
    #review-card3{
        display: none;
    }
    .form-name input{
        width: 200px;
    }
    .form-surname input{
        width: 200px;
    }
    .form-email input{
        width: 200px;
    }
    .form-phone input{
        width: 200px;
    }
    textarea{
        width: 460px;
    }
    .text-footer{
        display: none;
    }

    .form-button-wrapper{
        display: flex;
        flex-direction: row;
        
    }
    .form-button{
        margin-left: 300px;
    }
    
    .first-header-title{
        margin-right: 20px;
    }
    .second-header-title{
        margin-right: 20px;
    }
    .third-header-title{
        margin-right: 20px;
    }
    .fourth-header-title{
        margin-right: 40px;
    }
    .search-icon{
        margin-right: 20px;
    }
    .logo{
        margin-right: 200px;
        padding-left: 0px;

    }
    .logo-wrapper{
        justify-content: left;
        display: flex;
    }
    .buttons{
        gap: 100px;
    }
    .chat-bubble{
        padding-top: 50px;
        margin-right: 0px;
    }
    .head-section{
        height: 500px;

    }
    #service-box3{
        display: none;
    }
    #recomendation-box-hidden{
        display: none;
    }
    #review-card-hidden{
        display: none;
    }
    .services1{
        height: 500px;
        
    }
    .services2{
        height: 500px;
        
    }
    .user-recomendations{
        height: 300px;
        
    }
    .user-reviews{
        height: 450px;
       
    }
    #card-hidden{
        display: none;
    }
    #review-card{
        display: block;
    }
    .insurance-image-head-wrapper{
        height: 400px;
        width: 600px;
        margin-top: 50px;
    }
    .insurance-image-head-wrapper img{

        height: 350px;
        width: 420px;
    }
    #sur3{
        display: none;
    }
    #card3{
        display: none;
    }
    .footer-part1{
        display: none;
    }
    .download-and-text{
        display: none;
    }
    .chat-bubble{
        display: none;
    }
    .footer-parts{
        gap: 0px;
    }
   
}
@media (max-width: 768px){
    .pink-line{
        width: 100%;
    }
    .contact-information{
        display: none;
    }

    #header-responsive{
        display: none;

    }
    .logo-wrapper{
        display: flex;
        justify-content: left;
    }
    
    .text-footer{
        display: none;
    }
    form{
        width: 650px;
    }
    header nav .burger{
        position: absolute;
        display: block;
        top: 1.5rem;
        right: 1rem;
    }
    #sur2{
        display: none;

    }
    #sur3{
        display: none;
    }
    #service-box2{
        display: none;
    }
    #service-box3{
        display: none;
    }
    
   
    .chat-bubble{
        margin-right: 0px;
        padding-top: 40px;
        
    }
    .head-section{
        height: 550px;
    }
    #service2-box1{
        display: none;
    }
    #service2-box3{
        display: none;
    }
    #recomendation-box-hidden{
        display: none;
    }
   #review-card1{
    display: none;
   }
   #review-card3{
    display: none;
   }
    .services1{
        height: 500px;
        
    }
    .services2{
        height: 500px;
        
    }
    .user-recomendations{
        height: 300px;
        
    }
    .user-reviews{
        height: 450px;
       
    }
    .insurance-image-head-wrapper{
        display: none;
    }
    .insurance-button-head1{
        width: 287px;
    }
    .head-buttons-insurance{
        display: flex;
        flex-direction: column;
    }
   #service2-box3{
    display: none;

   }
   #service-box1{
    display: none;
   }
   
    #card2{
        display: none;

    }
    #card3{
        display: none;
    }
    
    .chat-bubble{
        display: none;
    }
    .footer-part1{
        display: none;
    }
    .download-and-text{
        display: none;
    }
    .footer-parts{
        gap: 0px;
    }
}
@media (max-width: 480px) {
   .buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
   }
   body{
    overflow: none;
   }
  
   .main-title{
    font-size: var(--font-24)
   }
   .recomondation-images{
    gap: 60px;
   }
   .recomendation h5{
    width: 100px;
    text-align: center;
    
   }
   .arrow-left{
    display: none;
   }
   .arrow-right{
    display: none;
   }
   .insurance-arrow-left{
    display: none;
   }
   .insurance-arrow-right{
    display: none;
   }
   .row1 input{
    width: 100px;
    height: 50px;
   }
   .row2 input{
    width: 100px;
    height: 50px;
   }
   .row3 textarea{
    width: 300px;
    height: 100px;
   }
   .all-rows{
    padding-left: 30px;
   }
   form{
    width: 400px;
   }
   .paragraph-contact{
    width: 300px;
    text-align: center;

   }
   .paragraph-contact-wrapper{
    display: flex;
    justify-content: center;
   }
   .footer-part1{
    display: none;
}
.footer-parts{
    gap: 0px;
}


.download-and-text{
    display: none;
}
   .chat-bubble{
    display: none;
   }
}

